@font-face {
  font-family: "SchoolSafety";
  src: url("/font/Hakgyoansim Dunggeunmiso TTF R.ttf") format("truetype"); /* Regular 폰트 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SchoolSafety";
  src: url("/font/Hakgyoansim Dunggeunmiso TTF B.ttf") format("truetype"); /* Bold 폰트 */
  font-weight: bold;
  font-style: normal;
}
